.page_container {
  margin-top: 10px;
  width: 100%;
  height: auto !important;
  overflow: auto;
  min-height: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-flow: column;
  background-color: #EBEDEF;
  background-color: hsl(210, 2%, 93%, .4);
}

.contact_container {
  flex: 1 1 auto;
  margin-top: 15px;
  background-color: hsl(210, 10%, 95%);
  border-radius: 10px;
  border-style: solid;
  border-width: medium;
  border-color: hsl(210, 10%, 97%);
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 15px;
}

.confirmation_container {
  flex: 1 1 auto;
  margin-top: 15px;
  background-color: hsl(210, 10%, 95%);
  border-radius: 10px;
  border-style: solid;
  border-width: medium;
  border-color: hsl(210, 10%, 97%);
  width: 90%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.education_container {
  flex: 1 1 auto;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  position: relative;
  margin-top: 20px;
  padding: 10px;
  overflow: auto;
  background-color: hsl(210, 10%, 95%);
  border-radius: 10px;
  border-style: solid;
  border-width: medium;
  border-color: hsl(210, 10%, 97%);
}

.project_container {
  height: 100%;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
  margin-top: 30px;
  overflow: auto;
  background-color: hsl(210, 10%, 95%);
  border-radius: 10px;
  border-style: solid;
  border-width: medium;
  border-color: hsl(210, 10%, 97%);
}


.project_head {
  margin-top: 15px;
  margin-left: 2%;
  margin-bottom: 10px;
  overflow: auto;
  width: 96%;
  height: 100%;
}

.project_title {
  width: 70%;
}

.project_badge {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: medium;
}

.project_description_style {
  background-color: hsl(210, 10%, 90%);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;
  position: relative;
  float: left;
}

.project_description {
  width: 58%;
  margin-left: 2%;
}

.project_photo {
  float: right;
  margin-right: 4%;
  margin-bottom: 15px;
  width: 32%;
  position: relative;
}

.insta_description {
  width: 55%;
  margin-left: 2%;
}

.insta_photo {
  margin-right: 2%;
  float: right;
  width: 38%;
  position: relative;
}

.mde_description {
  width: 60%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 12px;
  color: white;
  background-color: hsl(0, 0%, 0%, .05);

  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.expand{
  transform: rotate(90deg);
  position: relative;
  display: inline-block;
  color: blue;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none;
}

.next {
  right: 1px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: hsl(0, 0%, 0%, .2);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.project_image {
  display: none;
  width: 100%;
}

.project_git {
  position: absolute;
  top: 20px;
  right: 4%;
}

.project_code {
  width: 100%;
  position: relative;
}

.profile_pic {
  border-radius: 10px;
  max-width: 100%;
  object-fit: contain;
}


.degree_title {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.edu_header {
  width: 100%;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
  background-color: hsl(210, 10%, 90%);
  border-radius: 10px;
}

.edu_container {
  width: 100%;
  position: relative;
  overflow: auto;
}

.edu_btn_top {
  border-top-left-radius: 10px!important;
  border-top-right-radius: 0px!important;
  text-align: left;
}

.edu_btn_bottom {
  border-bottom-left-radius: 10px!important;
  border-bottom-right-radius: 0px!important;
}

.edu_content {
  background-color: hsl(210, 10%, 90%);
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
  position: relative;
}

.class_list {
  width: 35%;
  float: left;
}

.edu_button {
  text-align: left;
  padding-left: 0.75rem;
}

.class_info {
  width: 60%;
  margin-right: 3%;
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
}

.umich_symbol {
  float: left;
  width: 100px;
}


.footer {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  bottom: 0;
  background: #ddd;
}

.bio_container {
  flex: 1 1 auto;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
  background-color: hsl(210, 10%, 95%);
  border-radius: 10px;
  border-style: solid;
  border-width: medium;
  border-color: hsl(210, 10%, 97%);
}

.bio_header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bio-toggle {
  font-size: 1.2em;
}

.bio_description {
  width: 53%;
  height: 100%;
  margin-left: 2%;
  float: left;
}

.bio_pic {
  margin-right: 2%;
  width: 42%;
  position: relative;
  float: right;
}

.bio_pic_description {
  background-color: hsl(210, 10%, 90%);
  border-radius: 10px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  position: relative;
}

.bio_toggle_center {
  width: 95%;
}

.language_more {
  border-radius: 10px;
  border-style: solid;
  border-width: medium;
  border-color: hsl(210, 10%, 97%);
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
  position: relative;
}

.bio_section {
  background-color: hsl(210, 10%, 90%);
  border-radius: 10px;
  float: left;
  width: 100%;
  position: relative;
}

.bio_content {
  text-align: left;
  padding: 10px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bio_code {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.bio_code_section {
  margin-bottom: 15px;
  padding: 5px;
  background-color: hsl(210, 10%, 85%);
  border-radius: 5px;
}

.bio_badge {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-size: medium;
}

.bio_web_badge {
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: small;
}

.bio_web_code {
  margin-bottom: 10px;
  margin-top: 10px;
}

.bio_image_size {
  display: none;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
  border-color: black;
  border-width: thin;
  border-style: solid;
}

.language-toggle {
  float: right;
  margin-right: 5px;
}

.bio_code_description {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  display: none;
  position: relative;
}

.project_left {
  width: 50%;
  padding-top: 10px;
  padding-left: 10px;
  height: 100%;
  text-align: left;
  float: left;
}

.project_right {
  width: 50%;
  padding-top: 10px;
  padding-right: 10px;
  height: 100%;
  text-align: left;
  float: right;
}

.center_text {
  text-align: center;
}

.top_10 {
  margin-top: 10px;
}

.top_20 {
  margin-top: 20px;
}

.flex-even {
  flex: 1;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  padding-left: 20px;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

img[class] {
  width: 100%;
}

h4 {
  font-weight: bold;
}

strong {
  font-weight: bolder;
  font-size: 1.1em;
}

.nav-link a {
  font-size:10em!important;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
