.mobile_container {
    margin-top: 10px;
    width: 100%;
    height: auto !important;
    min-height: 100%;
    margin: auto;
    position: relative;
    background-color: #EBEDEF;
}

.mobile_picture_holder {
  padding-left: 10px;
  padding-top: 10px;
  width: 90%;
}

.mobile_bio_container {
  width: 100%;
  padding: 10px;
  height: 100%;
  text-align: left;
}

.mobile_container {
  margin-top: 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.page_container {
  margin-top: 10px;
  max-width: 1000px;
  min-width: 800px;
  height: auto !important;
  min-height: 100%;
  margin: auto;
  position: relative;
  background-color: #EBEDEF;
}

.profile_pic {
  border-radius: 10px;
  max-width: 100%;
  border-color: black;
  border-width: thin;
  border-style: solid;
  object-fit: contain;
}

.picture_holder {
  padding-left: 10px;
  padding-top: 10px;
  width: 45%;
  float: left;
}

.degree_title {
  display: inline-block;
}

.edu_header {
  width: 100%;
  position: relative;
  padding: 10px;
}

.edu_container {
  width: 100%;
  padding: 10px;
}

.umich_symbol {
  float: left;
  width: 100px;
}


.footer {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  bottom: 0;
  background: #ddd;
}

.bio_container {
  width: 55%;
  padding-top: 10px;
  padding-right: 10px;
  height: 100%;
  text-align: left;
  float: right;
}

.project_left {
  width: 50%;
  padding-top: 10px;
  padding-left: 10px;
  height: 100%;
  text-align: left;
  float: left;
}

.project_right {
  width: 50%;
  padding-top: 10px;
  padding-right: 10px;
  height: 100%;
  text-align: left;
  float: right;
}

.edu_container {
  padding: 10px;
}

.class_list {
  display: inline-block;
  margin: 10px;
}

.center_text {
  text-align: center;
}

.top_10 {
  margin-top: 10px;
}

.top_20 {
  margin-top: 20px;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

img[class] {
  width: 100%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  margin-top: 15px;
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
