{% extends 'base.html' %}
{% set active_page = "education" %}
{% block content %}
<div class="education_container">
  <div class="edu_header">
      <div class="umich_symbol">
        <img src={{ url_for('static', filename = 'media/CoE-umich.png') }} alt="Umich Eng" class="umich_symbol">
      </div>
    <div class="degree_title">
      <h3>BSE in Computer Science Engineering 2015-2020</h3>
      <h4>University of Michigan – Ann Arbor, MI</h4>
    </div>
  </div>

  <div class="edu_content">
    <div class="edu_container">
      <div class="btn-group-vertical btn-group-toggle class_list" data-toggle="buttons">
        <label class="btn btn-lg btn-dark disabled edu_btn_top" aria-disabled="true" disabled >
          Technical Coursework
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-0" href="#collapse0" name="class-button">
          EECS 280 (Programming & Data Structures)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-1" href="#collapse1" name="class-button">
          EECS 281 (Data Structures/Algorithms)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-2" href="#collapse2" name="class-button">
          EECS 285 (Java Applications)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-3" href="#collapse3" name="class-button">
          EECS 270 (Digital Logic Design)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-4" href="#collapse4" name="class-button">
          EECS 370 (Computer Organization)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-5" href="#collapse5" name="class-button">
          EECS 376 (Foundations of Computer Science)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-6" href="#collapse6" name="class-button">
          EECS 441 (Mobile App Development)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-7" href="#collapse7" name="class-button">
          EECS 484 (Database Management Systems)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-8" href="#collapse8" name="class-button">
          EECS 485 (Web Systems)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-9" href="#collapse9" name="class-button">
          EECS 490 (Computer Languages)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button edu_btn_bottom"  id="class-10" href="#collapse10" name="class-button">
          EECS 493 (User Interface Development)
        </label>
      </div>

      <div class="class_info" id="collapse0" style="display:none" name="class-description">
        <h5>EECS 280 (Programming and Intro Data Structures)</h5>

        <ul style="margin-bottom: 0px;">
          <li>Functional Abstraction</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Specification</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Recursion</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Recursive/Iterative Invariants</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Functional Generalization</small>
              </li>
            </div>
          </div>
          <li>Data abstraction</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Simple and Aggregate Types</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Abstract Data Types: ADTs</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Formal Notions of Type and Type Hierarchies</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Abstraction Functions and Representation Invariants</small>
              </li>
            </div>
          </div>
          <li>Dynamic resource management</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Creation and Destruction</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Rules of Safety</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Container Types</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Container Iteration</small>
              </li>
            </div>
          </div>
          <li>C++ Language and Programming</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Arrays</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>File I/O</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Templates</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Exceptions</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Recursion</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Functors</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Structs, Classes, and Objects</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Overloading of Functions and Operators</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Pointers and dynamic arrays</small>
              </li>
            </div>
          </div>
        </ul>
      </div>

      <div class="class_info" id="collapse1" style="display:none" name="class-description">
        <h5>EECS 281 (Data Structures/Algorithms)</h5>
        <p style="margin-bottom: 5px;">
          Introduction to data structures and algorithms, algorithm analysis, and O-notation.</p>
        <div class="container" style="padding: 0px!important; margin-top: 10px;">

          <ul>
            <li>Fundamental Data Structures</li>
            <div class="row">
              <div class="col-md-auto">
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Priority Queues</small>
                </li>
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Hash Tables</small>
                </li>
              </div>
              <div class="col-md-auto">
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Priority Queues</small>
                </li>
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Hash Tables</small>
                </li>
              </div>
              <div class="col-md-auto">
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Binary Trees</small>
                </li>
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Search Trees</small>
                </li>
              </div>
              <div class="col-md-auto">
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Balanced Trees</small>
                </li>
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Graphs</small>
                </li>
              </div>
            </div>
            <li>Algorithm Analysis and O-Notation</li>
            <li>Searching and Sorting Algorithms</li>
            <li>Recursive Algorithms</li>
            <li>Basic Graph Algorithms</li>
            <li>Greedy Algorithms</li>
            <li>Divide and Conquer Strategy</li>
          </ul>
        </div>
      </div>

      <div class="class_info" id="collapse2" style="display:none" name="class-description">
        <h5>EECS 285 (Java Applications)</h5>
        <p>Introduction to the Java language, with graphical user interfaces and mobile programming in Java.</p>
        <ul>
          <li>Java Language</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Syntax</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Control Flow</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Objects and Types</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Inheritance</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Polymorphism</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Nested and Local Classes</small>
              </li>
            </div>
          </div>
          <li>Graphical User Interfaces</li>
          <li>Mobile Programming (Android)</li>
        </ul>
        <p>Projects consist of simple Java applications, desktop game, and
          a Android budget tracking app</p>
      </div>

      <div class="class_info" id="collapse3" style="display:none" name="class-description">
        <h5>EECS 270 (Digital Logic Design)</h5>
        <br>
        <ul>
          <li>Binary and Non Binary Systems</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Boolean Algebra</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Logic Gates</small>
              </li>
            </div>
          </div>
          <li>Circuits</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Standard Combinational Circuits</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Sequential Circuits</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Synthesis of Synchronous Sequential Circuits</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Arithmetic Circuits</small>
              </li>
            </div>
          </div>
          <li>Computer Logic</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>PLAs</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>ROM</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>RAM</small>
              </li>
            </div>
          </div>
          <li>Computer-Aided Design</li>
        </ul>
        <p>Laboratory includes hardware design (Using an FPGA and Verilog) and CAD experiments.</p>
      </div>

      <div class="class_info" id="collapse4" style="display:none" name="class-description">
        <h5>EECS 370 (Computer Organization)</h5>
        <ul style="margin-top: 0px!important; margin-bottom: 5px!important;">
          <li>Instructions executed by a processor and
          how to use these instructions in simple assembly-language programs.</li>

          <li>Datapath and control for multiple implementations of a processor</li>
          <li>CPU Design</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Pipelining</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Caches</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Virtual Memory</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Input/Output</small>
              </li>
            </div>
          </div>
          <li>Assembly language Programming.</li>
        </ul>
        <p style="margin-bottom: 0px!important;">Projects were written in C for a simple mock assembly language and processor called (LC2K).
        Projects consisted of an Assembler,CPU Simulator(simulate registers, memory, cache, etc.), Linker,
        Pipeline the Simulator, and a Cache Simulator</p>
      </div>

      <div class="class_info" id="collapse5" style="display:none" name="class-description">
        <h5>EECS 376 (Foundations of Computer Science)</h5>
        <p>An Introduction to Computer Theory</p>
        <ul>
          <li>Finite Automata</li>
          <li>Regular Languages</li>
          <li>Pushdown Automata</li>
          <li>Context-Free Languages</li>
          <li>Turing Machines</li>
          <li>Recursive Languages and Functions</li>
          <li>Computational Complexity</li>
          <li>Cryptography</li>
        </ul>
      </div>

      <div class="class_info" id="collapse6" style="display:none" name="class-description">
        <h5>EECS 441 (Mobile App Development for Entrepreneurs)</h5>
        <p>I took EECS 441 as my MDE (Major Design Experience). We spent the entire sememester
        working on a single project using the Agile process. The project can be found on my
        <a href="{{ url_for('show_projects') }}">projects page</a>.</p>
        <ul>
          <li>Mobile App Development</li>
          <li style="margin-left: 5px; list-style-type: circle; font-size: .9em;">
           Entrepreneurship
          </li>
          <li style="margin-left: 5px; list-style-type: circle; font-size: .9em;">
           Team Management
          </li>
          <li style="margin-left: 5px; list-style-type: circle; font-size: .9em;">
           Product Design
          </li>
          <li style="margin-left: 5px; list-style-type: circle; font-size: .9em;">
           Project Management
          </li>
          <li style="margin-left: 5px; list-style-type: circle; font-size: .9em;">
           Code Development
          </li>
          <li style="margin-left: 5px; list-style-type: circle; font-size: .9em;">
           Testing
          </li>
        </ul>
      </div>

      <div class="class_info" id="collapse7" style="display:none" name="class-description">
        <h5>EECS 484 (Database Management Systems)</h5>
        <p>
          Concepts and methods for the design, creation, query and management of large enterprise databases.
        </p>

        <ul style="margin-top: 0px!important; margin-bottom: 5px!important;">

          <li>Query Languages/Databases</li>
          <div class="row" style="margin-bottom: 5px;">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small> SQL</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Oracle SQL</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Embedded SQL</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Mongodb</small>
              </li>
            </div>
          </div>
          <li>Database Design</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Integrity</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Normalization</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Transaction Management</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Access Methods</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Query Optimization</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Concurrency control and recovery</small>
              </li>
            </div>
          </div>
        </ul>
      </div>

      <div class="class_info" id="collapse8" style="display:none" name="class-description">
        <h5>EECS 485 (Web Systems)</h5>
        <p style="margin-bottom: 5px!important;">
          Concepts surrounding web systems, applications, and internet scale distributed systems.
          Projects include an Instagram clone in the first half of the semester,
          and a Google clone in the second. <a href="{{ url_for('show_projects') }}">Projects Page</a>
        </p>
        <ul style="margin-top: 0px!important; margin-bottom: 0px!important;">
          <li>Client/Server Protocols</li>
          <li>Web Security</li>
          <li>Information Retrieval and Search Engines</li>
          <li>DataBases and Scalable Data Processing</li>
          <li>Fault Tolerant Systems</li>
          <li>MapReduce</li>
          <li>Hadoop</li>
        </ul>
      </div>

      <div class="class_info" id="collapse9" style="display:none" name="class-description">
        <h5>EECS 490 (Programming Languages)</h5>
        <p>
          Fundamental concepts in programming languages.
        </p>
        <ul style="margin-top: 0px!important; margin-bottom: 0px!important;">
          <li>Programming Language Types</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Functional</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Imperative</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Object-Oriented</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Logic Programming Languages</small>
              </li>
            </div>
          </div>
          <li>Programming Language Features</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Naming</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Modularity</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Concurrency</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Memory Management</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Control Flow</small>
              </li>
            </div>
          </div>
          <li>Methodologies, Techniques, and Tools for Writing Correct and Maintainable Programs.</li>
        </ul>
      </div>

      <div class="class_info" id="collapse10" style="display:none" name="class-description">
        <h5>EECS 493 (User Interface Development)</h5>
        <p>
          Concepts and techniques for designing computer system user interfaces
          to be easy to learn and use, with an introduction to their implementation.
        </p>
        <ul style="margin-top: 0px!important; margin-bottom: 0px!important;">
          <li>Task Analysis</li>
          <li>Design of Functionality</li>
          <li>Display and Interaction Design</li>
          <li>Usability Evaluation</li>
          <li>Common Frameworks, Tools, HTML/CSS</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>React.js</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Vue.js</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>JQuery</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Node.js</small>
              </li>
            </div>
          </div>
        </ul>
      </div>

    </div>
  </div>

  <div class="edu_content" style="margin-top: 15px;">
    <div class="edu_container">
      <div class="container" style="margin-top: 15px; margin-bottom: 15px;">
        <strong>Extracurricular Activities</strong>
        <ul>
          <li>Executive Officer of Michigan Snowboard Club</li>
          <li>Member of Michigan Scandinavian Club</li>
          <li>Intramural Outdoor and Indoor Soccer</li>
          <li>2019 Intramural Kick-Ball Champion</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    setTimeout(function() {
    $("#class-0").addClass("active");
    $("#collapse0").slideToggle("slow"); }, 200);

  //setTimeout(function() {
  //  $("#intro").slideToggle("slow") }, 1000);

  $('.nav-toggle').click(function () {
    var toggle_switch = $(this);
    var collapse_content_selector = $(this).attr('href');
    var classInfo = document.getElementsByName("class-description");

    var classButtons = document.getElementsByName("class-button");
    for (i = 0; i < classInfo.length; i++) {
      if($(collapse_content_selector).attr('id') != $(classInfo[i]).attr('id')) {
        if(classInfo[i].style.display != 'none') {
          $(classInfo[i]).slideToggle("slow");
        }
      }
    }

    for (i = 0; i < classButtons.length; i++) {
      if(toggle_switch != classButtons[i]) {
        $(classButtons[i]).removeClass("active");
      }
    }


    if ($(collapse_content_selector).css('display') == 'none') {
      $(collapse_content_selector).slideToggle("slow");
    }

  });
});

</script>
{% endblock content %}
