{% extends 'base.html' %}
{% set active_page = "education" %}
{% block content %}
<div class="education_container">
  <div class="edu_header">
      <div class="umich_symbol">
        <img src={{ url_for('static', filename = 'media/CoE-umich.png') }} alt="Umich Eng" class="umich_symbol">
      </div>
    <div class="degree_title">
      <h3>BSE in Computer Science Engineering 2015-2020</h3>
      <h4>University of Michigan – Ann Arbor, MI</h4>
    </div>
  </div>

  <div class="edu_content">
    <div class="edu_container">
      <div class="btn-group-vertical btn-group-toggle class_list" data-toggle="buttons">
        <label class="btn btn-dark disabled edu_btn_top" aria-disabled="true" disabled >
          Technical Coursework
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-1" href="#collapse1" name="class-button">
          EECS 281 (Data Structures/Algorithms)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-2" href="#collapse2" name="class-button">
          EECS 285 (Java Applications)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-3" href="#collapse3" name="class-button">
          EECS 270 (Logic Design/Verilog)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-4" href="#collapse4" name="class-button">
          EECS 370 (Computer Organization)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-5" href="#collapse5" name="class-button">
          EECS 376 (Foundations of Computer Science)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-6" href="#collapse6" name="class-button">
          EECS 441 (Mobile App Development)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-7" href="#collapse7" name="class-button">
          ECS 484 (Database Management Systems)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-8" href="#collapse8" name="class-button">
          EECS 485 (Web Systems)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button" id="class-9" href="#collapse9" name="class-button">
          EECS 490 (Computer Languages)
        </label>
        <label class="btn btn-info nav-toggle btn-sm edu_button edu_btn_bottom"  id="class-10" href="#collapse10" name="class-button">
          EECS 493 (User Interface Development)
        </label>
      </div>

      <div class="class_info" id="collapse1" style="display:none" name="class-description">
        <h5>EECS 281 (Data Structures/Algorithms)</h5>

        <div class="container" style="padding: 0px!important; margin-top: 10px;">

          <ul>
            <li>Fundamental Data Structures</li>
            <div class="row">
              <div class="col-md-auto">
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Priority Queues</small>
                </li>
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Hash Tables</small>
                </li>
              </div>
              <div class="col-md-auto">
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Priority Queues</small>
                </li>
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Hash Tables</small>
                </li>
              </div>
              <div class="col-md-auto">
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Binary Trees</small>
                </li>
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Search Trees</small>
                </li>
              </div>
              <div class="col-md-auto">
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Balanced Trees</small>
                </li>
                <li style="margin-left: 5px; list-style-type: circle;">
                  <small>Graphs</small>
                </li>
              </div>
            </div>
            <li>Algorithm Analysis and O-Notation</li>
            <li>Searching and Sorting Algorithms</li>
            <li>Recursive Algorithms</li>
            <li>Basic Graph Algorithms</li>
            <li>Greedy Algorithms</li>
            <li>Divide and Conquer Strategy</li>
          </ul>
        </div>
      </div>

      <div class="class_info" id="collapse2" style="display:none" name="class-description">
        <h5>EECS 285 (Java Applications)</h5>
        <ul>
          <li>Java Language</li>
          <div class="row">
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Syntax</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Control Flow</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Objects and Types</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Inheritance</small>
              </li>
            </div>
            <div class="col-md-auto">
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Polymorphism</small>
              </li>
              <li style="margin-left: 5px; list-style-type: circle;">
                <small>Nested and Local Classes</small>
              </li>
            </div>
          </div>
          <li>Graphical User Interfaces</li>
          <li>Mobile Programming (Android)</li>
        </ul>
        <p>Projects consisted of simple Java applications, desktop game, and
          a Android budget tracking app</p>
      </div>


    </div>
  </div>
  <div class="edu_content" style="margin-top: 15px;">
    <div class="edu_container">
      <div class="container" style="margin-top: 15px; margin-bottom: 15px;">
        <strong>Extracurricular Activities</strong>
        <ul>
          <li>Executive Officer of Michigan Snowboard Club</li>
          <li>Member of Michigan Scandinavian Club</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    setTimeout(function() {
    $("#class-1").addClass("active");
    $("#collapse1").slideToggle("slow"); }, 200);

  //setTimeout(function() {
  //  $("#intro").slideToggle("slow") }, 1000);


  $('.nav-toggle').click(function () {
    var toggle_switch = $(this);
    var collapse_content_selector = $(this).attr('href');
    var classInfo = document.getElementsByName("class-description");

    var classButtons = document.getElementsByName("class-button");
    for (i = 0; i < classInfo.length; i++) {
      if($(collapse_content_selector).attr('id') != $(classInfo[i]).attr('id')) {
        if(classInfo[i].style.display != 'none') {
          $(classInfo[i]).slideToggle("slow");
        }
      }
    }

    for (i = 0; i < classButtons.length; i++) {
      if(toggle_switch != classButtons[i]) {
        $(classButtons[i]).removeClass("active");
      }
    }


    if ($(collapse_content_selector).css('display') == 'none') {
      $(collapse_content_selector).slideToggle("slow");
    }

  });
});

</script>
{% endblock content %}
