{% extends 'base.html' %}

{% block content %}

  <div id="intro" class="center_text top_20">
    <h3><b>Hi, my name is Ryan Dunn and this is my website!</b></h3>
  </div>
  <div class="bio_container">

    <div class="bio_pic">
      <div class="bio_image_size" name="bio_image">
        <img id="img" src={{ url_for('static', filename = 'media/bio_1.jpeg') }} alt="Profile_Pic" class="profile_pic">
      </div>
      <div class="bio_image_size" name="bio_image">
        <img id="img" src={{ url_for('static', filename = 'media/bio_2.jpeg') }} alt="Profile_Pic" class="profile_pic">
      </div>
      <div class="bio_image_size" name="bio_image">
        <img id="img" src={{ url_for('static', filename = 'media/bio_3.jpeg') }} alt="Profile_Pic" class="profile_pic">
      </div>
      <div class="bio_image_size_short" name="bio_image">
        <img id="img" src={{ url_for('static', filename = 'media/bio_4.jpeg') }} alt="Profile_Pic" class="profile_pic">
      </div>
      <div class="bio_image_size" name="bio_image">
        <img id="img" src={{ url_for('static', filename = 'media/bio_5.jpeg') }} alt="Profile_Pic" class="profile_pic">
      </div>


      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1, 'bio')">&#10094;</a>
      <a class="next" onclick="plusSlides(1, 'bio')">&#10095;</a>

      <div style="text-align:center; margin-top: 5px;">
        <span name="bio_dot" class="dot" onclick="currentSlide(0, 'bio')"></span>
        <span name="bio_dot" class="dot" onclick="currentSlide(1, 'bio')"></span>
        <span name="bio_dot" class="dot" onclick="currentSlide(2, 'bio')"></span>
        <span name="bio_dot" class="dot" onclick="currentSlide(3, 'bio')"></span>
        <span name="bio_dot" class="dot" onclick="currentSlide(4, 'bio')"></span>
      </div>

      <div class="bio_pic_description">
        <span name="bio_text" style="display: none">
          Click through to see pictures that help to describe who I am!
        </span>
        <span name="bio_text" style="display: none">
          I love the culture in Copenhagen! Great food, friendly people, and safe bike lanes.
        </span>
        <span name="bio_text" style="display: none">
          Skiing is one of my favorite activities to do in the winter.
        </span>
        <span name="bio_text" style="display: none">
          I felt like I was looking at a picture when at the Grand Canyon!
        </span>
        <span name="bio_text" style="display: none">
          Kickball Champions!
        </span>
      </div>
    </div>

    <div class="bio_description">
      <div class="bio_header bg-dark">
        <div class="btn-group btn-group-toggle" style="width:100%" data-toggle="buttons">
          <label class="btn btn-info nav-toggle bio-toggle" id="header-1" href="#collapse1">
            About Me
          </label>
          <label class="btn btn-info nav-toggle bio-toggle" id="header-2" href="#collapse2">
            Technical Skills
          </label>
          <label class="btn btn-info nav-toggle bio-toggle" id="header-3" href="#collapse3">
            This Website
          </label>
        </div>
      </div>

      <div id="collapse1" style="display:none; position:relative;" class="bio_section">
        <strong>Software Developer</strong>
        <span class="badge badge-success bio_badge">Java</span>
        <span class="badge badge-primary bio_badge">Python</span>
        <span class="badge badge-warning bio_badge">JavaScript</span>
        <span class="badge badge-secondary bio_badge">C/C++</span>
        <span class="badge badge-info bio_badge">Swift</span>
        <span class="badge badge-danger bio_badge">SQL</span>
        <p>I recently graduated from the University of Michigan with a BSE in Computer Science Engineering
          with a focus on Web and Mobile App Development. I love creating things that users can interact with and enjoy.</p>

        <strong>Lover Of All Things Tech</strong>

        <p>My intense fascination and interest in tech pushed me to become a software developer. In my free time you
          can find me writing code, building computers, flying homemade quadcopters, and playing video games.</p>

        <strong>World Traveler</strong>


        <p>I love to experience new cultures and have traveled extensively.
          I enjoy learning and experiencing the different ways of life found around the world.
          A bonus when traveling, is to explore new food and flavors as it inspires me in my own cooking.</p>

        <strong>Teamwork makes the Dreamwork</strong>

        <p>Throughout high school I was a captain of our soccer team, helping to bring our team from one of the worst
          in the district to one of the best. During college I was part of an amateur soccer team,
          an officer of the Michigan Snowboard Club, helped others bring their projects to life using code/automation, and
          assisted others during office hours.</p>
        <p>I have learned to appreciate collaboration and teamwork as it leads to so
          much more than I could accomplish on my own. </p>
      </div>

      <div id="collapse2" style="display:none; position:relative;" class="bio_section">
        <strong>Programming Languages</strong>
        <p>These are the programming languages that I am fluent in and love to use!</p>
        <div class="bio_code_section">
          <span class="badge badge-success bio_badge">Java</span> Android Applications and Desktop Applications
          <a class="language-toggle1 language-toggle" style="color:blue;">read more</a>
          <div id="language1" class="bio_code_description" style="display:none">
            <ul style="position: relative;zoom: 1;">
              <li>I love Java because it allows me to bring my passion to life and share it with others!</li>
              <li style="margin-top: 5px">With C/C++ being the first proper programming langauge I learned, transitioning to Java was a breeze.
                I have used Java to create several Android Apps, and even desktop applications/games.</li>
            </ul>
          </div>
        </div>
        <div class="bio_code_section">
          <span class="badge badge-warning bio_badge">JavaScript</span>Client-Side functionality in my Web Applications
          <a class="language-toggle2 language-toggle" style="color:blue;">read more</a>
          <div id="language2" class="bio_code_description" style="display:none">
            <ul>
            <li>I love JavaScript because it allows me to take my web applications to new heights of functionality!</li>
            <li style="margin-top: 5px"> I have experience working with frameworks such as React, Vue, Node, and JQuery.</li>
            </ul>
          </div>
        </div>
        <div class="bio_code_section">
          <span class="badge badge-primary bio_badge">Python</span>Web Apps, Backend Functionality, Scripting, Prototyping, etc.
          <a class="language-toggle3 language-toggle" style="color:blue;">read more</a>
          <div id="language3" class="bio_code_description" style="display:none">
            <ul>
            <li>I love Python for its incredible versatility, ease of use, and support.</li>
            <li style="margin-top: 5px"> I have experience working with flask, python API's,
              multithreading, recursion, and much more with Python!</li>
            </ul>
          </div>
        </div>
        <div class="bio_code_section">
          <span class="badge badge-secondary bio_badge">C/C++</span>High Perfomance Computing
          <a class="language-toggle4 language-toggle" style="color:blue;">read more</a>
          <div id="language4" class="bio_code_description" style="display:none">
            <ul>
            <li>C++ was the first language I learned, I love C++ for it's low level manipulation, portability,
              and it's object-oriented programming.</li>
            </ul>
          </div>
        </div>
        <div class="bio_code_section">
          <span class="badge badge-info bio_badge">Swift</span>iOS Applications
          <a class="language-toggle5 language-toggle" style="color:blue;">read more</a>
          <div id="language5" class="bio_code_description" style="display:none">
            <ul>
            <li>Swift is the language I am learning right now! I have written several Android Apps
            but I look forward to making apps for use with my iPhone!</li>
            </ul>
          </div>
        </div>
        <strong>Databases</strong>
        <p>The hero in the background, experience working with:<p>
        <div class="bio_code">
          <span class="badge badge-danger bio_badge">Oracle</span>
          <span class="badge badge-danger bio_badge">MySQL</span>
          <span class="badge badge-danger bio_badge">Mongodb</span>
          <span class="badge badge-danger bio_badge">Django</span>
          <span class="badge badge-danger bio_badge">Hadoop</span>
        </div>
        <strong>Web Frameworks</strong>
        <p>Build powerful web applications, experience using:<p>
        <div class="bio_code">
          <span class="badge badge-light bio_badge">React</span>
          <span class="badge badge-light bio_badge">Vue.js</span>
          <span class="badge badge-light bio_badge">AngularJS</span>
          <span class="badge badge-light bio_badge">Flask</span>
          <span class="badge badge-light bio_badge">JQuery</span>
        </div>
        <strong>Code Quality</strong>
        <p>Writing clean, easy to read code is incredibly important to me! In long term projects it ends up saving
        large amounts of time allows for better collaboration as well!</p>
        <div class="xkcd">
          <img id="img" src={{ url_for('static', filename = 'media/code_quality.png') }} alt="relevant comic" class="xkcd_pic">
          <a href="https://xkcd.com/1513/" class="xkcd_source">xkcd</a>
        </div>
      </div>

      <div id="collapse3" style="display:none" class="bio_section">
        <div class="bio_web_code">
        <strong>Deployed</strong><span class="badge badge-primary bio_web_badge">Python</span>
        <ul>
          <li>Flask Web Application Served by Gunicorn</li>
          <li>Amazon AWS ubuntu 18.04 micro instance</li>
          <li>Server code checks for mobile OS and sends correct template</li>
        </ul>
        </div>
        <div class="bio_web_code">
          <strong>Served</strong>
          <span class="badge badge-warning bio_web_badge">JavaScript</span>
          <span class="badge badge-light bio_web_badge">JQuery</span>
          <span class="badge badge-info bio_web_badge">HTML/CSS</span>
          <span class="badge badge-secondary bio_web_badge">Bootstrap</span>
          <ul>
            <li>Javascript and JQuery handles client-side interactions</li>
            <li>Bootstrap nav-bar, buttons, badges, etc.</li>
          </ul>
        </div>
        <div class="bio_web_code">
          <strong>Smart</strong>
          <span class="badge badge-primary bio_web_badge">Python</span>
          <span class="badge badge-light bio_web_badge">Jinja2</span>
          <ul>
            <li>Communicate with server through Jinja2</li>
            <li>Parse contact form info and format into email</li>
            <li>Connect with google email server to send contact form info</li>
          </ul>
        </div>
        <div class="bio_web_code">
          <strong>Tested</strong>
          <span class="badge badge-primary bio_web_badge">Python</span>
          <span class="badge badge-info bio_web_badge">HTML/CSS</span>
          <ul>
            <li>macOS, Windows, Ubuntu</li>
            <li>Android, iOS</li>
            <li>Various Screensizes</li>
            <li>html5validator, pycodestyle, pydocstyle, pylint</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <script>
    $(document).ready(function () {
    showSlides(0, 'bio');
    showText('bio');
    setTimeout(function() {
      $("#header-1").addClass("active");
      expandBio($("#collapse1")); }, 100);

    //setTimeout(function() {
    //  $("#intro").slideToggle("slow") }, 1000);

    var reduce = true;

    $('.language-toggle1').click(function () {
      var toggle_switch = $(this);
      if($("#language1").css('display') == 'none') {
        toggle_switch.html("read less");
      }
      else {
        toggle_switch.html("read more");
      }
      $("#language1").slideToggle("slow");
    });
    $('.language-toggle2').click(function () {
      var toggle_switch = $(this);
      if($("#language2").css('display') == 'none') {
        toggle_switch.html("read less");
      }
      else {
        toggle_switch.html("read more");
      }
      $("#language2").slideToggle("slow");
    });
    $('.language-toggle3').click(function () {
      var toggle_switch = $(this);
      if($("#language3").css('display') == 'none') {
        toggle_switch.html("read less");
      }
      else {
        toggle_switch.html("read more");
      }
      $("#language3").slideToggle("slow");
    });
    $('.language-toggle4').click(function () {
      var toggle_switch = $(this);
      if($("#language4").css('display') == 'none') {
        toggle_switch.html("read less");
      }
      else {
        toggle_switch.html("read more");
      }
      $("#language4").slideToggle("slow");
    });
    $('.language-toggle5').click(function () {
      var toggle_switch = $(this);
      if($("#language5").css('display') == 'none') {
        toggle_switch.html("read less");
      }
      else {
        toggle_switch.html("read more");
      }
      $("#language5").slideToggle("slow");
    });

    $('.nav-toggle').click(function () {
      var welcome_message = $("#intro");
      if (welcome_message.css('display') != 'none') {
        welcome_message.slideToggle("slow");
      }

      var collapse_array = ["#collapse1", "#collapse2", "#collapse3"];
      var button_array = ["#header-1", "#header-2", "#header-3"];
      var i;
      var collapse_content_selector = $(this).attr('href');
      for(i = 0; i < collapse_array.length; i++) {
        if(collapse_content_selector != collapse_array[i]) {
          if($(collapse_array[i]).css('display') != 'none') {
            $(collapse_array[i]).slideToggle("slow");
          }
          if($(button_array[i]) != toggle_switch) {
            $(button_array[i]).removeClass("active");
          }
        }
      }
      var toggle_switch = $(this);

      if ($(collapse_content_selector).css('display') == 'none') {
        $(collapse_content_selector).slideToggle("slow");
      }

      console.log($(collapse_content_selector));
    });
  });

  function expandBio(collapse_content_selector) {
    var x = 0;
    var imgWidth = 41;
    var bioWidth = 56;
    var intervalID = window.setInterval(function () {
       imgWidth--;
       bioWidth++;
       $(".bio_pic").css('width', imgWidth.toString() + '%');
       $(".bio_description").css('width', bioWidth.toString() + '%');

       if (++x === 10) {
           window.clearInterval(intervalID);
           $(collapse_content_selector).slideToggle("slow");
       }
    }, 20);
  }

  function reduceBio() {
    var x = 0;
    var imgWidth = 31;
    var bioWidth = 68;
    var intervalID = window.setInterval(function () {
       imgWidth++;
       bioWidth--;
       $(".bio_description").css('width', bioWidth.toString() + '%');
       $(".bio_pic").css('width', imgWidth.toString() + '%');

       if (++x === 10) {
           window.clearInterval(intervalID);
       }
    }, 20);
  }

  </script>

{% endblock content %}
