{% extends 'base.html' %}
{% block content %}

<div class="project_left">
  <strong>Fabric Finding Android App (Capstone Project)</strong>
  <ul>
    <li>Find fabric via image or search parameters</li>
    <li>Interface with the server to send parameters and receive results</li>
    <li>Load results asynchronously</li>
    <li>Identify network issues and resolve them</li>
  </ul>
  <strong>Budgeting App (Android)</strong>
  <ul>
    <li>Persistent Memory</li>
    <li>Multiple Views</li>
  </ul>
</div>

<div class="project_right">
  <strong>Insta485 (Clone of Instagram Website)</strong>
  <ul>
    <li>(Client and Server-Side Dynamic)</li>
    <li>Deployed on AWS</li>
  </ul>
  <strong>Search Engine</strong>
  <ul>
    <li>(Client and Server-Side Dynamic)</li>
    <li>Uses Hadoop for MapReduce</li>
    <li>Deployed on AWS</li>
  </ul>
</div>

{% endblock content %}
